
.opal{
    background-color: #ff9634;
    box-shadow: 5px 10px 38px #3f3e3e;
}


.punta:hover{
    color: rgb(255, 255, 255);
}





.grey{
    color: rgb(88, 88, 88);
}

.home{
    font-weight: bold;
    color: black;
}

