
<h1 class="pt-5 text-center">Modifica dati comune</h1>

<form class="pt-5">
    
    <div class="form-group col-md-6">
        <label>Nome del Comune</label>
        <input type="text" class="form-control" [(ngModel)]="editComune.nome" name="nome" id="siglaInput">
      </div>
      
      <div class="row">
        <div class="col-md-8">
          <label>Provincia</label>
          <select class="form-control" [(ngModel)]="editComune.provincia" name="provincia" aria-label="Default select example" >
            <option selected  >Provincia</option>
            <option  *ngFor="let item of province" [ngValue]="item" >{{item.nome | json}}</option>
          </select>
        </div>
        
        <div class="form-group col-md-4">
          <label>Sigla</label>
          <input  type="text" class="form-control" [(ngModel)]="editComune.provincia.sigla" name="sigla">
        </div>
      </div>
         
</form>
<button type="submit" class="btn btn-lg btn-block mt-5 mb-5 btnH orange" (click)="modificaComune(editComune)">Comferma modifica</button>